<div class="upload-container">
  
  <button routerLink="/" class="btn btn-back">Back to Home</button>

 
  <h2 class="title">Upload Audio for Genre Prediction</h2>

  
  <div class="file-input-container">
    <label for="file-upload" class="file-label">Choose Audio File</label>
    <input type="file" accept="audio/*" id="file-upload" (change)="onFileChange($event)" class="file-input" />
  </div>

  
  <button (click)="onSubmit()" [disabled]="loading" class="btn btn-upload">Submit</button>

 
  <div *ngIf="loading" class="loading-spinner">
    <p>Processing...</p>
  </div>

 
  <div *ngIf="predictionResult" class="result">
    <h3>Predicted Genre: {{predictionResult.predicted_genre}}</h3>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
</div>
