<div class="container">
    
    <button routerLink="/" class="btn btn-back">Back to Home</button>
  
    
    <h1 class="title">Upload Audio File</h1>
  
    
    <div class="file-input-container">
      <label for="file-upload" class="file-label">Choose Audio File</label>
      <input type="file" id="file-upload" (change)="onFileSelected($event)" class="file-input" />
    </div>
  
    
    <button (click)="onUpload()" class="btn btn-upload">Predict Genre</button>
  
    
    <p *ngIf="predictedGenre" class="predicted-genre">
      Predicted Genre: {{ predictedGenre }}
    </p>
  </div>
  